        
        
#wrapper .two{
            
            
box-shadow: 16px 31px 35px rgba(0, 0, 0, 0.2);
       
        
        }
        
  /********** section 1 **************/
 .right4{
                display: none;
            }
        

.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 95%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -22vmin;
  background: white;
    border-radius: 0% 0% 150% 150%/0% 0% 40% 40%;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.28);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}
        
        
        
       
@media only screen and (max-width: 1191px){
    .section-1{
       padding-bottom: 25vmin;
    padding-top: 25vmin;
}
    }    
    
        
  @media (min-width: 992px) and (max-width: 1199.98px) { 

        }         
        
        @media only screen and (max-width: 991px) {

  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
      padding: 0vmin 0vmin 5vmin 4vmin;
            }
        
        .section-1{
        padding-bottom: 2vmin;
    }
            
            .section2{
                    padding: 20vmin 0px;

            }        
        }
        
        
        
         #wrapper .flex-caption {
     padding-top: 0px;
            
        
        }

        
        
                @media (min-width: 367px){
            
    #wrapper .herobanner .flexslider__wrapper {
    min-height: 280px;
}
        
        #hp-slide-18030{
            height: 29vmin;
            
        }
              .right4{
                display: none;
            }
        
            
        }
        
        
        
@media (min-width: 992px){
            
 #wrapper .flex-caption {
     padding-top: 0px;
            
        
        }
#wrapper .herobanner .flexslider__wrapper {
    min-height: 400px;
}
        
        #hp-slide-18030{
            height: 50vmin;
            
        }
    .right4{
       
    }
        
        }
        
        @media (min-width: 768px){
            
    #wrapper .herobanner .flexslider__wrapper {
    min-height: 300px;
}
        
        #hp-slide-18030{
            height: 40vmin;
            
        }
            
     #wrapper .forex-blocks__item{
        height: 345px;    
        }
           
            
            .right4{
                display: none;
            }
        
        }           
            
            
            
        
        
 
     @media (min-width: 1200px) {
        
        #wrapper .two{
            height: 400px;
        
        }
         
.section-1 {
padding: 20vmin 0vmin;
padding-bottom: 40vmin;
}
         .section2{

         padding-top: 10vmin;
         padding-bottom: 0px;
         }
          .right4{
                display: block;
            }
        

        
.section-1 .row .col-md-6 .panel {
       position: absolute;
    top: 0vmin;
    left: -22vmin;
    background: white;
      border-radius: 0% 0% 150% 150%/0% 0% 40% 40%;
    text-align: left;
    padding: 0vmin 8vmin 16vmin 25vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.28);
    font-family: var(--Rubik);
    z-index: 1;
    padding-bottom: 3vmin;
    background: rgba(255, 255, 255, 0.09);
   
        
         }
        
        
        
        }
        
@media(min-width:992px) and (max-width:1199px){
    .sectopn-1{
                padding-top: 15vmin;
            }
        
    .section2 {
   padding-top: 30vmin;
                }  
      #wrapper .forex-blocks__item{
        height: 345px;    
        }

        
        
            #wrapper .two{
                height: 470px;
            }
            
    .section-1 .row .col-md-6 .panel {
    position: absolute;
    top: -12vmin;
    left: -22vmin;
    background: white;
      border-radius: 0% 0% 150% 150%/0% 0% 40% 40%;
    text-align: left;
    padding: 0vmin 19vmin 0vmin 16vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.28);
    z-index: 1;
    background: rgba(255, 255, 255, 0.09);
    }
            
          .right4{
                display: block;
            }
         
            
            
        }
 
       
        
                
 .down{       
        
   
    font-size: 16px;
    border: 0px;
    border-radius: 31px;
    background-color: #0fc10f;
    color: white;
    width: 70%;
    height: 35px;
    transition: 0.5s ease-in-out;
        }

        .down:hover{
            background-color: red;
        }

       
        .req h4{
            font-weight: 600;
    font-size: 25px;
    color: #888;
    letter-spacing: 2px;
        }    
        
        
        
        
        
        
        
        
        
        
        
.section4 {
    padding: 130px 0px 0px;
}

.left4 {
    display: inline-block;
    vertical-align: middle;
    width: -moz-calc(50% - 50px);
    width: -webkit-calc(50% - 50px);
    width: calc(50% - 50px);
    width: -o-calc(50% - 50px);
}

.fs_title {
    font-size: 2.1em;
    line-height: 130%;
    letter-spacing: -1px;
    font-weight: 700;
}

.fs_desc {
    font-size: 2em;
    line-height: 130%;
    letter-spacing: -1px;
    font-weight: 200;
}

.left4 .the_content .dis {
    margin-top: 30px;
    font-size: 15px;
    color: #a7a7a7;
}

.right {
    display: inline-block;
    vertical-align: middle;
    height: 799px;
    width: -webkit-calc(50% - 50px);
    width: -moz-calc(50% - 50px);
    width: calc(50% - 50px);
    width: -o-calc(50% - 50px);
    overflow: none;
    padding: 0px 0px 27px 100px;
}

.right .con {
    width: 100%;
    height: 100%;
    position: relative;
    top: -112px;
}

.right i.bitcoin {
    top: 295px;
    left: 169px;
    width: 292px;
    height: 292px;
}

.right i {
    -webkit-animation-name: floating;
    animation-name: floating;
}

.right i.bitcoin {
    z-index: 10;
    background-image: url(../img/d1.png);
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    background-size: 68%;
}

.right i {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    background-size: 70%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 22px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 0 22px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, .12);
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    transition-delay: .4s;
    -webkit-transition-delay: .4s;
    transition: width .5s ease-in-out, height .5s ease-in-out, left .5s ease-in-out, top .5s ease-in-out;
    -webkit-transform: width .5s ease-in-out, height .5s ease-in-out, left .5s ease-in-out, top .5s ease-in-out;
}

@keyframes floating {
    0% {
        -webkit-transform: translateY(6px) rotate3d(0, 0, 1, 4deg);
        transform: translateY(6px) rotate3d(0, 0, 1, 4deg);
    }

    100% {
        -webkit-transform: translateY(-6px) rotate3d(0, 0, 1, 0deg);
        transform: translateY(-6px) rotate3d(0, 0, 1, 0deg);
    }
}

.right i.litecoin {
    top: 531px;
    left: 141px;
    width: 100px;
    height: 100px;
}

.right i.litecoin {
    background-image: url(../img/d2.png);
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    background-size: 60%;
}

.right i.ethereum {
    top: 322px;
    left: 36px;
    width: 230px;
    height: 230px;
}

.right i.ethereum {
    z-index: 9;
    background-image: url(../img/d3.png);
    background-color: rgba(255, 255, 255, .69);
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    background-size: 52%;
}

.right i.bch {
    top: 44px;
    left: 35px;
    width: 150px;
    height: 150px;
}

.right i.bch {
    background-image: url(../img/d5.png);
    -webkit-animation-delay: -5.2s;
    animation-delay: -5.2s;
    background-size: 75%;
}

.right i.neo {
    top: 117px;
    left: 239px;
    width: 90px;
    height: 90px;
}

.right i.neo {
    background-image: url(../img/d6.svg);
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    background-size: 60%;
}

.right i.eos {
    top: 232px;
    left: 0;
    width: 70px;
    height: 70px;
}

.right i.eos {
    background-image: url(../img/d7.png);
    -webkit-animation-delay: -7s;
    animation-delay: -7s;
    background-size: 55%;
}

.right i.ethereum-classic {
    top: 614px;
    left: 56px;
    width: 80px;
    height: 80px;
}

.right i.ethereum-classic {
    background-image: url(../img/d8.png);
    -webkit-animation-delay: -8s;
    animation-delay: -8s;
    background-size: 60%;
}

.right i.ripple {
    top: 216px;
    left: 100px;
    width: 200px;
    height: 200px;
}

.right i.ripple {
    background-image: url(../img/d9.png);
    -webkit-animation-delay: -4.4s;
    animation-delay: -4.4s;
    background-size: 47%;
}

.right i.dash {
    top: 614px;
    left: 234px;
    width: 120px;
    height: 120px;
}

.right i.dash {
    background-image: url(../img/d10.png);
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
    background-size: 60%;
}

















.pray{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.pray {
	background:
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0.0)
    ),
    url('https://hanatemplate.com/images/halloween-smoke-4.png');
	background-position: center;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
	
	perspective: 800px;
}

.card {
	width: 100%;
	height: 400px;
	
	background-image:url(../img/pc.png);
	background-position: center;
	background-size: cover;
    background-position: 40%;
    border-radius: 0% 120% 130% 200%/0% 317% 200% 0px;

	border-right: 12px solid #eeeff0;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
							0 15px 12px rgba(0, 0, 0, 0.22);
	
	transition-property: transform;
	transition-timing-function: cubic-bezier(.550, .055, .675, .19);
}

    



